body{
    font-family: 'Courier New', Courier, monospace;
}

.logo-spotify{
    width: 150px;
    margin-bottom: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

li{
    list-style: none;
    display: block;
}

.landing{
    width: 100%;
}

.contenido-palabra{
    background-image: url("../images/landing.jpg");
    background-size: cover; /*img completa*/
    width: 100%;
    height: 100vh; /*viewport height*/
}

.contenido-palabra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido-palabra h1{
    color: white;
}
.contenido-palabra p{
    color: white;
}

.contenido-palabra h1 {
    font-size: 50px;
}

.contenido-palabra p{
    font-size: 20px;
}

.icon1{
    width: 120px;
}

.seccion2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline; /*agregando linea*/
    text-underline-offset: 10px; /*separacion*/
    text-decoration-color: #00B172;
    text-decoration-thickness: 3.5px ;
    margin-bottom: 40px;
}

.caja-secciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.caja-secciones section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.caja-secciones section h3{
    color: #00B172;
    font-weight: bold;
}

.seccion3{
    display: flex;
    background-color: #00B172;
    color: white;
    width: 100%;
    padding: 30px;
}

.spotifyWhite{
    width: 120px;
    height: 120px;
}

.spotifyApp{
    width: 200px;
}

.sc32-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
}

.sc31-texto h2{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;

}
